<loading-show ng-model="loader"></loading-show>
<div class="login-holder">
    <div class="box-holder">
        <div class="box-area">
            <div class="box">
                <img src="images/login-logo.png" alt="ONEfindr" class="login_logo">
                <h2>Forgot Password</h2>
                <div class="form-con">
                    <form name="forgotPasswordForm" ng-submit="reset_password(forgot_user)" class="login-form">
                        <fieldset>
                            <input type="email" name="email" placeholder="Your Email" ng-model="forgot_user.email" required>
                            <input value="Submit" type="submit" ng-disabled="form_submit">
                            <div class="links">
                                <a ui-sref="auth.login">Back to Login</a>
                            </div>                            
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>