<div class="dashboard-box-area">
    <div class="box">
        <form class="selection-form document_update_form job_notes_form" ng-submit="close_completion_note_box()">
            <fieldset>
                <div class="client-widget">
                    <div class="client-fields add">
                        <div class="widget-txt">
                            <label for="completionNote">Completion Note</label>
                            <textarea
                                readonly
                                rows="5" cols="10" id="completionNote" 
                                ng-model="show_completion_notes_text">
                            </textarea>
                        </div>
                        <input type="submit"" value="Close">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>