<div class="tab" id="change_password_block">
    <div class="info-row">
        <div class="info-content text-center">
            <form class="edit_form" ng-submit="edit_password(edit_user_password)" name="editPasswordForm">
                <input placeholder="Current Password" type="password" ng-model="edit_user_password.oldPassword" name="pass" required>
                  <div ng-messages="editPasswordForm.pass.$error"
                       ng-show="editPasswordForm.pass.$touched && editPasswordForm.pass.$invalid">
                    <p ng-messages="required" class="text-danger">Valid Current password is required</p>
                  </div>
                <input placeholder="New Password" type="password" ng-model="edit_user_password.newPassword" required>
                  <div ng-messages="editPasswordForm.pass.$error"
                       ng-show="editPasswordForm.pass.$touched && editPasswordForm.pass.$invalid">
                    <p ng-messages="required" class="text-danger">New Password is required</p>
                  </div>
                <input placeholder="Repeat New Password" type="password"
                    ng-model="edit_user_password.confirmNewPassword" name="confirm_pass" required>
                  <div ng-messages="editPasswordForm.confirm_pass.$error"
                       ng-show="editPasswordForm.confirm_pass.$touched && editPasswordForm.confirm_pass.$invalid">
                    <p ng-messages="required" class="text-danger">Confirm password is required</p>
                  </div>
                <input value="Update Password" type="submit" ng-class="{'disable': editPasswordForm.$invalid }" ng-disabled="editPasswordForm.$invalid">
            </form>
        </div>
    </div>
</div>
