<div class="dashboard-box-area">
    <div class="box">
        <form class="selection-form document_update_form job_notes_form">
            <fieldset>
                <div class="client-widget">
                    <div class="client-fields add">
                        <div class="widget-txt">
                            <label  class="text-center">Are you sure you want to delete this job?</label>
                            <button class="btn btn-danger btn-block pull-left" ng-click="dialog_yes()">
                                Yes
                            </button>
                            <button class="btn btn-primary btn-block pull-right"  ng-click="dialog_no()">
                                No
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>