<div class="dashboard-box-area">
  <div class="box">
    <form class="selection-form document_update_form" ng-submit="submit_edit_document_form()">
      <fieldset>
        <div class="client-widget">
          <h2>Document Update Form</h2>
          <div class="client-fields add">
            <div class="widget-txt">
              <div class="btn-file" style="width: 100%">
                <input value="upload" type="file" ng-model='document.input' base-sixty-four-input style="width: 100%">
                Upload
              </div>
            </div>
            <input type="submit" value="Submit">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
