<div class="dashboard-box-area">
  	<div class="box">
	    <form class="selection-form document_update_form job_notes_form" ng-submit="start_the_job(job_start_code)">
	    	<fieldset>
		        <div class="client-widget">
		        	<h2>Start Job</h2>
		          	<div class="client-fields add">
		            	<div class="widget-txt">
		              		<label for="job_start_code">Enter Code</label>
		              		<input type="text" name="job_start_code" ng-model="job_start_code">
		            	</div>
		            	<input type="submit" value="Start!">
		         	</div>
		        </div>
	      	</fieldset>
	    </form>
  	</div>
</div>
