<div class="box">
  <div class="modal-header">
    <h3>Login As:</h3>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-md-6">
        <!--<input id="company" name="group1" type="radio" ng-click="choose_user_type('service_provider')">-->
        <label>
          <a href="" ng-click="choose_user_type('service_provider')" >
          <div class="img-con">
            <img src="images/img12.png" alt="Description">
          </div>
          Service Provider
        </a>
        </label>
      </div>
      <div class="col-md-6">
        <!--<input id="freelancer" name="group1" type="radio" ng-click="choose_user_type('general_user')">-->
        <label>
          <a href="" ng-click="choose_user_type('general_user')">
            <div class="img-con">
              <img src="images/img13.png" alt="Description">
            </div>
            General User
          </a>
        </label>
      </div>
    </div>
  </div>
</div>
